    /* ==========================================================================
       HTML5 display definitions
       ========================================================================== */
    /*
     * 闂佸搫娲ら悺銊╊敆濞ｆ 8/9婵炴垶鎼╅崢钘夛耿椤撶媴鎷风憴鍕叝缂佺姷鍠栭幆鍐礋椤帗瀚规慨鎺撴綕ock闂佺偨鍎查悷銉╁储閹捐埖顫曢柣妯挎珪閳绘梻绱掗敓浠嬪箒閹虹偞瀚归柨鐕傛嫹
     */
    
     article,
     aside,
     details,
     figcaption,
     figure,
     footer,
     header,
     hgroup,
     nav,
     section,
     summary {
         display: block;
     }
     /*
      * 闂佸搫娲ら悺銊╊敆濞ｆ 8/9婵炴垶鎼╅崢钘夛耿椤撶媴鎷风憴鍕叝缂佺姷鍠栭幆鍐礋椤帗瀚规慨鎺斿灁line-block闂佺偨鍎查悷銉╁储閹捐埖顫曢柣妯挎珪閳绘梻绱掗敓浠嬫晸閿燂拷
      */
     
     audio,
     canvas,
     video {
         display: inline-block;
     }
     /*
      * 闂傚倸鍟鍫曨敆濞戙垺鍋濆Λ棰佺閺佲晜绻涢弶鎴犵妞ゎ偄绉瑰畷鎶藉Ω閵壯勵啈濠电偛澶囬崜婵嗭耿娑旑湹ntrols闁诲繒鍋熼崑鐐烘晸缁愭牕鎳忛悾閬嶆煟閵娿儱顏ら柨鐔诲Г椤╃dio闂佺偨鍎查悷銉╁储閹捐埖顫曢柣妯挎珪閳绘梻绱掗敓浠嬪传閸曨偅鐦旈梺鍝勵檧閹凤拷
      * 缂備礁顦…宄扳枍閿燂拷 iOS 5 闁荤姳鐒﹂崕鎶剿囬浣衡枖妞ゆ挾鍎愬Ο瀣归敐鍡欐噮婵炲牊鍨堕〃鍥熼崫鍕靛敽
      */
     
     audio:not([controls]) {
         display: none;
         height: 0;
     }
     /*
      * 闂佸搫绉崜婵嬵敆濞ｆ 8/9婵炴垶鎼╅崢鎼佹晸閼恒儺娓糹dden闂佺偨鍎查悷銉╂儓濮楋拷楠烇拷鐟滃瞼绮径灞惧皫闁炬艾鍊荤粙濠囨煟閳ь剙濡挎繛鍫熷灴濮婂顢氶敓浠嬨�傞敓锟�
      */
     
     [hidden] {
         display: none;
     }
     /* ==========================================================================
        闂佺硶鏅濋崕銈咃耿閿燂拷
        ========================================================================== */
     /*
      * 1. 闁诲繐绻愬Λ婵堝垝椤栨粍濯奸柕鍫濇噽閹界喎霉閿濆棙宕勬い鏃�娲滅槐鏃堫敊閺勫繒顦� sans-serif
      * 2. 闂侀潻璐熼崝瀣箔婢跺瞼鐭夊ù锝堫嚃閸撻箖鏌ｉ埀顒�濡介柛鈺傜〒缁辨捇鍩￠崒娑欐緬闂佹眹鍔岀�氼參宕曡箛娑樼闁稿繐鎽滈悷鎾绘⒑椤掞拷閻忔繈宕㈤ˇ寤淪闁荤姳鐒﹂崕鎶剿囬鍕闁荤喓澧楅崐濠氭偣鐎ｎ亜鏆為柡鍡秮瀹曘儲鎯旈妶鍛唶闂佸憡鏌ｉ崝宥夋偋鎼粹槅娼伴柨婵嗘噽閹界喎霉閿濆棙灏柕鍥ф川娴滄悂鏁撻敓锟�
      */
     body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0;padding:0}
     
     
     html {
 /*     	font-family:'閻庣敻鍋婇崰娑㈡嫃鐎ｎ喗鈷栭柛娑橆嚟閹凤拷','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif; */
             /* 1 */
 -webkit-text-size-adjust: 100% !important;
         /* 2 */
         -ms-text-size-adjust: 100% !important;
         text-size-adjust: 100% !important;
         /* 2 */
     }
     /*
      * 缂備礁顦…宄扳枍鎼达絿纾介柧蹇氼潐闂冩粓鏌ｉ妸銉ヮ仼妞わ妇绮蹇曟兜閸涱垳宕�
      */
     
     body {
         margin: 0 auto;
         -webkit-text-size-adjust: 100% !important;
         /* 2 */
         -ms-text-size-adjust: 100% !important;
         text-size-adjust: 100% !important;
     }
     /* ==========================================================================
        Links
        ========================================================================== */
     /*
      * 闂佸搫绉崜婵嬵敆濠婂牆鐏虫慨鎺濇磽tline闂佺偨鍎查悷銉ワ耿閻欘晭rome闂佸憡绮岄懟顖炲矗閻愵剛顩烽柡宥冨妿閵堝鎮峰▎蹇曞婵炲懏甯″鑽わ拷闈涙啞閻ｅ崬鈽夐幘宕囆＄紒鏃�鎸抽幊娑㈡晸閿燂拷
      */
     
     a:focus {
         outline: thin dotted;
     }
     /*
      * 婵犫拃鍛粶鐎规悂浜跺畷鐑藉Ω閿曪拷椤ｆ煡鏌￠崼婵愭Ч缂佷浇宕甸幉鎾醇濠靛洨褰滄繛鎴炴惄閸欙拷濞寸姵鐩幃鐐烘晝閿熶粙骞忛悧鍩兼鎮╁畷鍥х伇闂佽鍣崜娆愮閻樿绫嶉柛鎾茬劍閻ｉ亶鏌涘▎妯虹仴妞ゆ洑鍗抽獮锟介柨鐕傛嫹
      */
     a{
         text-decoration: none;
     }
     
     a:active,
     a:hover {
         outline: 0;
     }
     /* ==========================================================================
            闂佸湱鍎ょ敮鐐存櫠閿燂拷
        ========================================================================== */
     /*
      * 闂佸搫绉崜婵嬵敆閿燂拷 Firefox 4+闂佹寧绋戦鐜渇ari 5 闂佸憡绮ｉ幏锟� Chrome 婵炴垶鎼╅崢鎼佹晸閼恒儙鐎峜tion闂佺偨鍎查悷銉╁箯娴兼潙鐏虫慨鎺撴倻ticle闂佺偨鍎查悷銉╁船閹绢喗鍎嶉柛鏇ㄧ厜閹峰嘲顫楅敓锟�1闂佺偨鍎查悷銉╂偤瑜庨幏鍛村箻閻愭垝娴烽柣蹇撻獜閹凤拷
      */
     
     h1 {
         font-size: 2em;
     }
     /*
      * 闂佸搫绉崜婵嬵敆濞ｆ 8/9闂佹寧鍐婚幏锟� Safari 5 闂佸憡绮ｉ幏锟� Chrome婵炴垶鎼╅崢浠嬫偋閸楃儐鍤曢煫鍥ф捣閻熸繈鏌涘☉妯煎ⅱ妤犵偛娲幆鍐礋椤栨冻绱俊顐㈠簻閹凤拷
      */
     
     abbr[title] {
         border-bottom: 1px dotted;
     }
     /*
      * 闂佸搫绉崜婵嬵敆閿燂拷 Firefox 4+闂佹寧鍐婚幏锟� Safari 5 闂佸憡绮ｉ幏锟� Chrome 婵炴垶鎼╅崢鎼佹晸閼恒儺娴昽lder闂佺偨鍎查悷褍鈻撻幋锕�鍐�鐎瑰嫭澹嗙涵锟�
      */
     
     b,
     strong {
         font-weight: bold;
     }
     /*
      * 闂佸搫绉崜婵嬵敆閿燂拷 Safari 5 闂佸憡绮ｉ幏锟� Chrome 婵炴垶鎼╅崢浠嬫偋閸楃儐鍤曢煫鍥ф捣閻熸繈鏌涘☉妯煎ⅱ妤犵偛娲幆鍐礋椤栨冻绱俊顐㈠簻閹凤拷
      */
     
     dfn {
         font-style: italic;
     }
     /*
      * 闂佸搫绉崜婵嬵敆閿燂拷 IE 8/9 婵炴垶鎼╅崢浠嬫偋閸楃儐鍤曢煫鍥ф捣閻熸繈鏌涘☉妯煎ⅱ妤犵偛娲幆鍐礋椤栨冻绱俊顐㈠簻閹凤拷
      */
     
     mark {
         background: #ff0;
         color: #000;
     }
     /*
      * 闂佸搫娲ら悺銊╊敆閿燂拷 Safari 5 闂佸憡绮ｉ幏锟� Chrome 婵炴垶鎼╅崢濂搞�冨畝鍕畱妞ゅ繐妫欓悾閬嶆倵濞戞瑣浠︾紓宥咁儑閹峰宕滆閺嬶拷
      */
     
     code,
     kbd,
     pre,
     samp {
         font-family: monospace, serif;
         font-size: 1em;
     }
     /*
      * 婵犫拃鍛粶鐎规悂浜堕獮宥夋晸娴犲瀚夊璺侯儑閵堝鎮峰▎蹇曞婵炲懏甯楃粙澶愵敇閵忊晜娈ㄩ梺鍝勭Ф閸樠呮閿熺姴绀岄柡宥冨妽閻庮噣鏌￠崼顐㈠婵炲牊鍨垮畷锝夘敍濠垫劕娈洪梺璇″墾閹凤拷
      */
     
     pre {
         white-space: pre;
         white-space: pre-wrap;
         word-wrap: break-word;
     }
     /*
      * 闁荤姳绀佹晶浠嬫偪閸℃鈻旈柨鐔剁矙閹虫稓锟介潧鎲￠悾杈╋拷娈垮枟濞叉粓寮妶鍥╁暗閻犲洩灏欓敓鏂ゆ嫹
      */
     
     q {
         quotes: "\201C" "\201D" "\2018" "\2019";
     }
     /*
      * 闂佸搫绉崜婵嬵敆濠婂牆绠ラ柨鐔剁矙瀵灚寰勭�ｎ兙鍋﹂柣鐔哥懃閻楀棗鈻嶉幒鎾垛枖妞ゆ挾鍠愰～婊堟煕濞嗘兎鑲╃箔閺嶃劎鈻旂�广儱瀚閬嶆煠瀹勯偊鍤熸繛鍫熷灩閿熻姤绋掗妵鐐电礊鐎ｎ偄绶炵憸宥夋儍閿燂拷
      */
     
     small {
         font-size: 80%;
     }
     /*
      * 闂傚倸鍟鍫曨敆濞戙垹绠ラ柨鐔剁矙瀵灚寰勭�ｎ兙鍋﹂柣鐔哥懃閻楀棗鈻嶉幒鎾垛枖妞ゆ挾濮甸悾閬嶆煃閵壩剧�燽闂佺偨鍎查悷銉╁箯娴兼潙鐏虫慨鎺旀櫓p闂佺偨鍎查悷銉︾附閺嶎厼浼犵�广儱鎳庨悡鍌炴偠濞戞鐒搁柣婵愬櫍閺佸秹宕稿瀹痚-height闂佹寧鍐婚幏锟�
      */
     
     sub,
     sup {
         font-size: 75%;
         line-height: 0;
         position: relative;
         vertical-align: baseline;
     }
     
     sup {
         top: -0.5em;
     }
     
     sub {
         bottom: -0.25em;
     }
     /* ==========================================================================
        閻庤鎸搁懟顖炲矗閸℃稑绀冮柛娑卞弾閸燂拷
        ========================================================================== */
     /*
      * 缂備礁顦…宄扳枍鎼淬劌鎹堕柨鐕傛嫹 IE 8/9 婵炴垶鎼╅崢鑲╃矈閻㈢绀傞柕澶堝劚閻撳倿鏌嶉妷锔绘祲闂佺偨鍎查悷銉╁储閹捐埖顫曢柣妯挎珪椤ρ囨煟閵娿儱顏紒鏃傚枎椤╁ジ鏁撻敓锟�
      */
     
     img {
         border: 0;
     }
     /*
      * 闂佸搫娲ら悺銊╊敆閿燂拷 IE 9 婵炴垶鎼╅崢濂搞�冨畝鍕畱妞ゅ繐妫欓悾閬嶆煃閵壩炬潳erflow闂佺偨鍎查悷銊╁Υ閸愵喗鍋濋柨鐕傛嫹
      */
     
     svg:not(:root) {
         overflow: hidden;
     }
     /* ==========================================================================
        Figures
        ========================================================================== */
     /*
      * 闂佸搫娲ら悺銊╊敆閿燂拷 IE 8/9 闂佸憡绮ｉ幏锟� Safari 5 婵炴垶鎼╅崢濂杆囩紒妯荤秶缁绢厼鎳愰悰鈺佲槈閹惧磭孝闁活偄绉剁划鍫ユ惞鐟欏嫮鏆犻梻鍌氬亞閸ｏ綁銆傞敓锟�
      */
     
     figure {
         margin: 0;
     }
     /* ==========================================================================
        闁荤偞绋忛崝灞界暦閿燂拷
        ========================================================================== */
     /*
      * 闁诲氦顫夐惌顔剧不閻斿摜鈻旈柨鐔剁矙閹虫稓锟介潧鎲￠悾閬嶅级閸綆娼愭い銏狀儔婵″瓨鎷呴崜鍙夆枎闁哄鐗忛、濠勭玻濞戙垹妞介悘鐐舵閺佸爼寮堕崼銏╂敯缂佹劧鎷�
      */
     
     fieldset {
         border: 1px solid #c0c0c0;
         margin: 0 2px;
         padding: 0.35em 0.625em 0.75em;
     }
     /*
      * 1. 闂佸搫娲ら悺銊╊敆閿燂拷 IE 8/9 婵炴垶鎼╅崣鍐锋笟锟介幊婵嬬叓椤撶姷鎲圭紓鍌欑秬閸曨偒妫￠梺姹囧妼鐎氭澘螞閼哥绱ｉ柨鐕傛嫹
      * 2. 缂備礁顦…宄扳枍鎼淬劌绀冮柛娑欏閻濆爼鎮归悜妯肩畼闁炽儲蓱缁屽崬鈹戦崨顔炬簞婵炲濯崜娆忥耿椤忓棔鐒婇柛鐐板牚eldset闁荤姳绀佹晶浠嬫偪閸℃鈻旈柨鐕傛嫹0闂佸搫鍟﹢鍦箔婢跺顕辨慨姗嗗厵娴滐綁鎮归崫鍕伇婵犙冨�垮褰掓晸閿燂拷
      */
     
     legend {
         border: 0;
         /* 1 */
         padding: 0;
         /* 2 */
     }
     /*
      * 1. 闂佸搫娲ら悺銊╊敆濠婂牆绠ラ柨鐔剁矙瀵灚寰勭�ｎ兙鍋﹂柣鐔哥懃閻楀棗鈻嶉幒鎾垛枖妞ゆ挾鍋熼幗鐔访归敐鍡樺矮缂佹顦辩槐鎺曨槼濠㈣鐟╅幆鍐礋椤栨冻绱俊顐㈠簻閹凤拷
      * 2. 闂佸搫娲ら悺銊╊敆濠婂牆绠ラ柨鐔剁矙瀵灚寰勭�ｎ兙鍋﹂柣鐔哥懃閻楀棗鈻嶉幒鎾垛枖妞ゆ挾鍋熼幗鐔兼煕濞嗘帗鑵圭紒妤�顦辩槐鎺曨槼濠㈣鐟╅幆鍐礋椤栨冻绱俊顐㈠簻閹凤拷
      * 3. 闂佸搫娲ら悺銊╊敆閿燂拷 Firefox 4+闂佹寧鍐婚幏锟� Safari 5 闂佸憡绮ｉ幏锟� Chrome 婵炴垶鎼╅崢濂杆囩紒妯荤秶缁绢厼鎳愰悰鈺佲槈閹惧磭孝闁诡喗鎹囬幆鍐礋椤栨冻绱俊顐㈠簻閹凤拷
      */
     
     button,
     input,
     select,
     textarea {
         font-family: inherit;
         /* 1 */
         font-size: 100%;
         /* 2 */
         margin: 0;
         /* 3 */
     }
     /*
      * 闂佸搫娲ら悺銊╊敆閿燂拷 Firefox 4+ 闂佺儵鍋撻崝宥夊春濞戞瑧顩烽柨婵嗘处閸婄偤鏌″鍛Щ缂佹唻绱曢幃浼粹�﹂幒鏃傤槱UA stylesheet闂佹寧绋戦ˇ顕�鎳欓幋锕�鎹堕柕濠庢緛閹峰嘲顫楅悥濡弖t闂佺偨鍎查悷銈囩箔閿燂拷
      * 闁荤姳绀佹晶浠嬫偪閸℃稑鐏虫慨鎺濇焿ne-height闂佺偨鍎查悷锕�顪冮崒娑欏閻犳亽鍔嶉弳蹇涙煃閵夘垱瀚�!important闂佺偨鍎查悷褍鈻撻幋锔解拻妞ゆ洩鎷锋い锝忔嫹
      */
     
     button,
     input {
         line-height: normal;
     }
     /*
      * 1. 闂備緡鍓欓悘婵嬪储閿燂拷 Android 4.0.* 婵炴垶鎼╅崢鎯р枔閿燂拷 WebKit bug 闂佹寧绋戦惌渚�顢氬娓婵炴潙鍚嬪銊╂偋椤掑嫬閿ら煫鍥ㄦ尭閺傃囨煟閵忋垹鏋旀繛鍫熷灴閸ㄦ儳顫楅幖鏉乮o
      *    闂佸憡绮屾径鍥晸閼恒儙顤痙eo闂佺偨鍎查悷锔炬暜閸洖绀嗛悹铏瑰劋閻濓拷
      * 2. 闂佸搫娲ら悺銊╊敆閿燂拷 iOS 婵炴垶鎼╅崢钘壩涢妶鍛灃闁哄洠妲呴崯搴ｇ磽閸愭儳鏋涚憸鐗堢叀閹瑩鎮烽弶鎸庣槚闂佹眹鍔岀�氀囨晸閼恒儺娓絥put闂佺偨鍎查悷褍鈻撻幋锔解拻妞ゆ洩鎷锋い锝忔嫹
      * 3. 婵犫拃鍛粶鐎规悂浜跺畷鍫曞礈瑜嶉。鑽ょ磼椤愩儺鍤欓柣搴ㄦ敱缁傛帡濡烽妷銉﹀皨闂佺绻戝﹢鍦垝椤掑倻灏甸悹鍥皺閿熺晫鍏橀幆鍐礋椤帗瀚规慨鎺斿灁put闂佺偨鍎查悷銈夋嚈閹达箑绠伴柛銉墯鐎氭盯鏌ｉ妸銉ヮ仼鐟滅増鐓￠幃浠嬪Ω閿斿吋瀚圭憸灞剧閹烘鐭楀┑鐘插暟婢瑰锟芥鍠栫换鎺戔枔閹寸偟鈻旈柨鐔剁矙閹虫稓锟芥稒锕幏鐑芥晸閿燂拷
      */
     
     button,
     html input[type="button"],
     /* 1 */
     
     input[type="reset"],
     input[type="submit"] {
         -webkit-appearance: button;
         /* 2 */
         cursor: pointer;
         /* 3 */
     }
     /*
      * 闂備焦褰冪粔鍫曟偪閸濈穭sabled闂佺绻愰崯鎵矆瀹�鍕剭闁告洦鍨崇敮娑㈡偣娴ｉ潧锟芥牜锟藉灚宀搁弻锕傚醇閻斿搫顥庨悗娈垮櫙閹凤拷
      */
     
     button[disabled],
     input[disabled] {
         cursor: default;
     }
     /*
      * 1. 闁荤姴顑呴崯顖炲汲閿燂拷 IE 8/9 box sizing 闁荤偞鍑归崑澶愵敊閺囩姷纾炬い鏃�妲掔粈锟� 闂佺偨鍎查々绱�ntent-box闂佺偨鍎婚幏锟� 闂佹眹鍔岀�氭澘螞閼哥绱ｉ柨鐕傛嫹
      * 2. 缂備礁顦…宄扳枍閿燂拷 IE 8/9 婵炴垶鎼╅崢濂杆囬幐搴㈠婵炲棙鍨堕悾閬嶆煕閹邦剚鍤�缂佹梻鍠撻幑鍕晸閿燂拷
      */
     
     input[type="checkbox"],
     input[type="radio"] {
         box-sizing: border-box;
         /* 1 */
         padding: 0;
         /* 2 */
     }
     /*
      * 1. 闂佸搫绉崜婵嬵敆閿燂拷 Safari 5 闂佸憡绮ｉ幏锟� Chrome 婵炴垶鎼幏锟� 闂佺偨鍎查々绔漰earance闂佺偨鍎婚幏锟� 闁荤偞鍑归崑澶愵敊閺囩姷纾炬い鏃�妲掔粈锟� 闂佺偨鍎茶灑earchfield闂佺偨鍎婚幏锟� 闂佹眹鍔岀�氭澘螞閼哥绱ｉ柨鐕傛嫹
      * 2. 闂佸搫绉崜婵嬵敆閿燂拷 Safari 5 闂佸憡绮ｉ幏锟� Chrome 婵炴垶鎼幏锟� 闂佺偨鍎查々绫祒-sizing闂佺偨鍎婚幏锟� 闁荤偞鍑归崑澶愵敊閺囩姷纾炬い鏃�妲掔粈锟� `闂佺偨鍎查々绫祌der-box闂佺偨鍎婚幏锟� 闂佹眹鍔岀�氭澘螞閼哥绱ｉ柨鐕傛嫹
      * (include `-moz` to future-proof)
      */
     
     input[type="search"] {
         -webkit-appearance: textfield;
         /* 1 */
         -moz-box-sizing: content-box;
         -webkit-box-sizing: content-box;
         /* 2 */
         box-sizing: content-box;
     }
     /*
      * 缂備礁顦…宄扳枍閿燂拷 OS X 婵炴垶鎼幏锟� Safari 5 闂佸憡绮ｉ幏锟� Chrome 闂佸憡鍔曢幊姗�宕曢幘顔藉剭闁告洦鍋勯弫鍫曞级閸埄鏀扮紒鎰♁缁傛帡濡烽妷銉﹀皨闂佺懓鍚嬬划搴ㄥ磼閵娿儺娴栭柛鈩冪懄閻ｉ亶鏌涘▎鎰缂佸鍏橀獮鎰緞閹邦厼鍞�
      */
     
     input[type="search"]::-webkit-search-cancel-button,
     input[type="search"]::-webkit-search-decoration {
         -webkit-appearance: none;
     }
     /*
      * 缂備礁顦…宄扳枍閿燂拷 Firefox 4+ 闂佸憡鍔曢幊姗�宕曢幘顔藉剭闁告洦鍋勯弫鍫曞级閸埄鏀扮紒鎰舵嫹
      */
     
     button::-moz-focus-inner,
     input::-moz-focus-inner {
         border: 0;
         padding: 0;
     }
     /*
      * 1. 缂備礁顦…宄扳枍閿燂拷 IE 8/9 婵炴垶鎼╅崣鍐垝椤栨粍濯奸柕鍫濇处閻ｉ亶鏌涢妸銉ワ拷璇裁洪崹顕呯叆婵﹩鍓欒闂佸搫顧�閹凤拷
      * 2. 婵犫拃鍛粶鐎规悂浜堕獮宥夋晸娴犲瀚夊璺侯儑閵堝鎮峰▎蹇曞婵炲懏甯楃粙澶愵敇閻樺磭鏆犻柣搴ｆ暩閹虫捇顢氶绛嬬�查柟閭︿簷缁ㄤ即鏌涘▎蹇ュ伐鐟滄媽灏欓幏鐘电磼濮楀牊瀚归柨鐕傛嫹
      */
     
     textarea {
         overflow: auto;
         /* 1 */
         vertical-align: top;
         /* 2 */
     }
     /* ==========================================================================
            闁荤偞绋忛崝宥夋偋閿燂拷
        ========================================================================== */
     /*
      * 缂備礁顦…宄扳枍鎼淬劌纭�闁哄洨鍋涚敮妤呮煛瀹ュ懌鍋㈡俊顐ｅ瀵板嫯顦归柛搴㈡尦瀹曟岸宕卞▎鎰殸闂傚倸鍊婚ˉ鎰玻閿燂拷
      */
     
     table {
         border-collapse: collapse;
         border-spacing: 0;
     }
     
     /*
      * 濠电偞鎸搁幊妯衡枍鎼粹埗褰掝敊閻撳巩锟� 
      */
     
     .clearfix:after {
         content: "";
         display: block;
         height: 0;
         clear: both;
         visibility: hidden
     }
     
     .clearfix {
        //  *+height: 1%;
     }
     /*
      * 濠电偞鎸搁幊妯衡枍瀹稿s闂佸綊娼ч鍡椻攦閿熺禒nput闂佸湱顭堥ˇ鐢稿箰閾忣偒娓舵俊顖涱儥閸氬洭鏌″鍛Щ缂佹唻鎷�
      */
     
     input[type="button"],
     input[type="submit"],
     input[type="reset"] {
         -webkit-appearance: none;
     }
     
     textarea {
         -webkit-appearance: none;
     }
     
     input:focus {
         -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
         -webkit-user-modify: read-write-plaintext-only;
     }
     
     input:focus,
     textarea:focus {
         outline: none;
     }
     
     /*
      * 濠电偞鎸搁幊妯衡枍鎼淬劍鍊烽柣鐔告緲濮ｅ﹪鏌″鍛Щ缂佹唻鎷�
      */
     
     .tap_init{
         -webkit-tap-highlight-color:transparent;
     }
     
      /*
      * 濠电偞鎸搁幊妯衡枍鎼淬劌绀嗘俊銈呭閿熸枻鎷�
      */
     ul,ol,dl,li,dd,dt{
         list-style: none;
     }
     /*
      * 濠电偞鎸搁幊蹇涖�冮悢鍏煎殜妞ゅ繐瀚弫銊╂煛瀹ュ懎妲荤紒鎲嬫嫹
      */
     em,b,strong{
          font-style: normal;
     }
     
     /*鏉╂瑤绔撮崣銉︽Ц閻€劍娼电憴锝呭枀閸︺劌鐣ㄩ崡鎾茬瑐閻ㄥ嫮鍋ｉ崙璇插毉閻滄壆顕ｅ鍡涙６妫帮拷*/
     body{ -webkit-tap-highlight-color:rgba(0,0,0,0); }
     
     
     /*娑撳娼伴弰顖澬掗崘鐮硂s娑撳﹤骞撻梽銈呬簳娣囷紕鍋ｉ崙鏄忔憫閼硅尪绔熷锟� */
     a:focus,
     input:focus,
     p:focus,
     div:focus{
     -webkit-tap-highlight-color:rgba(0,0,0,0);
 /* 	-webkit-user-modify:read-write-plaintext-only;  */
     }
     
 .omit{
     overflow:hidden;
     text-overflow:ellipsis;
     white-space:nowrap;
 }